@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Simple Softball Stats</h1>
            <p class="lead">Written by Jim Comiskey, using C#, ASP.NET MVC 5, Entity Framework, and JavaScript/Knockout/jQuery.</p>
            <p><a href="https://www.linkedin.com/pub/jim-comiskey/54/4b5/5a8" class="btn btn-primary btn-lg">Contact Jim &raquo;</a></p>            
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6">
            <img src="~/Content/Images/Softball-FrontPage.jpg" alt="Softball Front Page Image" height="200" width="200" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About this project</h2>
        <p>
            A simple UI for entering softball stats for your team, 
            game by game, and viewing overall player statistics.
        </p>        
    </div>    
</div>