<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://simplesoftballstats.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>simplesoftballstats.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SimpleSoftballStats</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SimpleSoftballStats</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:gjm2wusqr6.database.windows.net,1433;Initial Catalog=SimpleSoftballStats_db;User ID=Jim@gjm2wusqr6;Password=FinalFantasy_7" Name="Data Source=tcp:gjm2wusqr6.database.windows.net,1433;Initial Catalog=SimpleSoftballStats_db;User Id=Jim@gjm2wusqr6;Password=FinalFantasy_7" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SimpleSoftballStats.Model.ApplicationDbContext, SimpleSoftballStats" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SoftballContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:gjm2wusqr6.database.windows.net,1433;Initial Catalog=SimpleSoftballStats_db;User ID=Jim@gjm2wusqr6;Password=FinalFantasy_7" Name="Data Source=tcp:gjm2wusqr6.database.windows.net,1433;Initial Catalog=SimpleSoftballStats_db;User Id=Jim@gjm2wusqr6;Password=FinalFantasy_7" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SimpleSoftballStats.DataLayer.SoftballContext, SimpleSoftballStats.DataLayer" MigrationConfiguration="SimpleSoftballStats.Migrations.Configuration, SimpleSoftballStats.DataLayer" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gjm2wusqr6.database.windows.net,1433;Initial Catalog=SimpleSoftballStats_db;User Id=Jim@gjm2wusqr6;Password=FinalFantasy_7</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SoftballContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gjm2wusqr6.database.windows.net,1433;Initial Catalog=SimpleSoftballStats_db;User Id=Jim@gjm2wusqr6;Password=FinalFantasy_7</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>