@model SimpleSoftballStats.ViewModels.GameViewModel

<div>
    <div class="form-group">
        <label class="control-label">Team Id</label>
        <span class="form-control" data-bind="text: TeamId"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Game Time</label>
        <span class="form-control" data-bind="text: GameTime"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Opponent</label>
        <span class="form-control" data-bind="text: Opponent"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Runs Scored</label>
        <span class="form-control" data-bind="text: RunsScored"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Runs Allowed</label>
        <span class="form-control" data-bind="text: RunsAllowed"></span>
    </div>
</div>
<p><a href="../Index" class="btn btn-default btn-sm">&laquo; Back to List</a></p>