@model SimpleSoftballStats.ViewModels.GameViewModel
@using System.Web.Script.Serialization

@{
    ViewBag.Title = "Create Game";
}

@{
    string data = new JavaScriptSerializer().Serialize(Model);
}

@section scripts {
    <script src="~/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>

    <script src="~/Scripts/gameviewmodel.js"></script>
    <script type="text/javascript">
        var gameViewModel = new GameViewModel(@Html.Raw(data));
        ko.applyBindings(gameViewModel);
    </script>
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_EditGame")

